h3 {
	font-family: Verdana;
	color: grey;
}

p {
	font-family: Verdana;
	font-size: 16px;
	color: grey;
{
td{
    height: 50px;
    border: 1px dashed black;
    }
table{
    border: 1px solid black;
}