/**{
font-family: Helvetica Neue;
}*/
#GlobalHeader {
	background-color: black;
	width: 100%;
	height: 50px;
	max-width: 100%;
	max-height: 50px;
	top: 0;
	position: static;
	display: block;
}
.NameOnTheWall h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#GlobalFooter{
	/*background-color: #091323;*/
	background-color: #d1d1d1;

	display: block;
	padding-top: 100px;
	padding-bottom: 200px;
}
#LogoM img{
	padding-left: 30px;
	float: left;
	/*max-width: inherit;*/
	/*max-height: 100%;*/
	/*max-width: 100%;*/
	height: 50px;
	width: 50px;
}
.Container {
	width:100%;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
}
.NavBar {
	float: right;
}

.InstagramPost{
	/*width:*/

}
script{
	/*display: */
	display: block;
}

.NavBar ul li {
	color: white;
	float: left;
	list-style-type: none;
	margin-left: 20px;
	padding-top: 0;
	display: block;
	font-family: 'Roboto', sans-serif;
}
.ThumbnailList{
	display: block;
	text-align: center;
	margin: 0 0 0 0;
	width: 100%;
}
.ThumbnailList ul{
	display: inline-block;
	width:100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.ThumbnailList ul li {
	color: white;
	float: left;
	list-style-type: none;
	padding-top: 0;
	display: block;
	width: 25%;
}
img:after {
	content: "\f1c5" " " attr(alt);
	font-size: 16px;
	font-family: FontAwesome;
	color: rgb(100, 100, 100);
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#ImageDescription{
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	visibility: hidden;
}
#ImageWrap:hover #ImageDescription {
  visibility: visible;
  opacity: 1;
}

p.Paragraph{
	color: grey;
	/*font-family: 'HKGroteskRegular', Verdana;*/
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-style: normal;
}
p.Intro::first-letter {
	color: black;
	font-size: 50px;
	/*font-family: 'HKGroteskRegular', Verdana;*/
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-style: normal;
}
.Footnote{
	display: block;
	text-align: center;
	padding: 100px 0 0 0;
}
.Footnote p{
	font-size: 10px;
	color: white;
}
.FooterButton img::hover{
	color: grey;
}
.NavBar ul li div:hover {
	color: red;
}
.FooterButton img{
	display: inline-block;
	height: auto;
	width: 100%;
}
#Tagline{
	text-align: center;
}
#Tagline p{
	color: grey;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	>>>>>>> origin/master
}
.NavBarItem {
	height:100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;;
}
a{
	color: inherit;
	max-width: 100%;
	max-height: 100%;
	text-decoration: none;
	/*font-family: inherit;*/
}
a:hover {
	text-decoration: none;
	color: grey;
}
.BigHeader{
	font-size: 40px;
	font-family: Verdana;
}
h2{
	font-size: 25px;
}
.NoBullet{
	list-style-type: none;
	font-family: inherit;
}
#About-LeftColumn{
	width: 100px;
	height: 1000px;
	background-color:#c3ccdb;
	/*display:inline-block;*/
	float: left;
}
#About-RightColumn{
	background-color:grey;
	position: absolute;
	/*display: inline-block;*/
	float: right;
}
.About-Columns{
	display: inline-block;
}
body{
	margin: 0;
}

td{
	height: 50px;
	border: 1px dashed black;
}

#PhotoHeader{
	animation-name: PhotoHeaderFadeIn;
	animation-duration: 5s;
	align-items: stretch;
	height: auto;
	width: 100%;
	max-width: 100%;
	position:static;
	/*padding-top: 100px;*/
}
#PhotoHeader:hover{

}

#Global-Content{
	/*display: inline-block;*/
}
.Circle {
	display: block;
	height: 90px;
	width: 90px;
	border-radius:100%;
	border: 5px solid grey;
	text-align: center;
	text-align-last: center;
}
.GlobalHeaderButtons {
	height: inherit;
	width: 50px;
	display: inline-block;
	text-align-last: right;
	color: white;
	font-family: Verdana;
	font-size: 20px;
}
img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	max-width: 100%;
}
@keyframes PhotoHeaderFadeIn {
	from{
		opacity: 0.1;
	}
	to{
		opacity: 1;
	}
}
@media screen and (min-width: 750px){
	.NameOnTheWall{
		padding: 80px 0 130px 0;
		letter-spacing: 1px;
	}
	.Container {
		width:90%;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
		display: block;
	}
	.ThumbnailList ul li{
		width: 25%;
		height: auto;
	}
	.ThumbnailList ul{
		width: 50%;
		padding: 0 25%;
	}
}
