*{
	font-family: Helvetica Neue;
}
a:hover{
	text-decoration: none;
	color: grey;
}
.BigHeader{
	font-size: 40px;
	font-family: Verdana;
}
h2{
	font-family: Verdana;
	font-size: 25px;
	text-indent: 20px;
}
.NoBullet{
	list-style-type: none;
	font-family: inherit;
}
body{
	margin: 70px;
}
ul ul li{
	font-family: Tahoma;
}
p {
	font-family: Verdana;
	font-size: 16px;
{
td{
    height: 50px;
    border: 1px dashed black;
    }
table{
    border: 1px solid black;
}
a{
    text-decoration: none;
}
img{
    height: 100px;
    width: 100px;
}
div{
    height: 50px;
    width: 120px;
    border-style: solid;
    border-width: 5px;
    border-radius:5px;
    margin: auto;
    text-align: center;
    font-family: Tahoma;
}
