script{
  visibility: hidden;
}

body{
  margin: 0;
}

.grid{
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 0;
  background-size: cover;
  overflow: hidden;
}

.grid img{
  animation-name: ImageFadeIn;
  animation-duration: 2.5s;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
#AboutTitle{
  position: absolute;
  overflow:hidden;
  margin: auto auto;
  left: 0;
  right: 0;
  top:0;
}

#AboutTitle p{
  font-family: 'Bebas Regular',sans-serif;
  color: white;
  text-align: center;
  font-size: 130px;
  margin: 0;
  padding-top: 14px;
}
@keyframes ImageFadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/*-webkit-filter: filter(value);
-moz-filter: filter(value);
-o-filter: filter(value);
-ms-filter: filter(value);*/
